<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>adresse</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<head>
	<style>
		nav{
			display : flex;
			background-color : #cceeff;
			padding: 0;
			border-radius : 0px 0px 10px 10px ;
			align-items: center;
		}
		h1{
			padding : 0px 10px 0px 10px;
		}
		ul{
			display : flex; font-size: 20px;
		}
		li{
			padding : 0px 10px 0px 10px;
			list-style-type: none;
			vertical-align : center;
		}
		a{
			text-decoration: none;
		}
		form{
			padding : 5px;
		}
	</style>
	<body>
		<nav>
		  <h1>Les differentes addresses </h1>
		  <ul>
		    <li>
		    	<a href="greeting">greeting</a>
		    </li>
		    <li>
		    	<a href="adresses">adresses</a>
		    </li>
		    <li>
		    	<a href="adresse">Nouvelle adresse</a>
		    </li>
		  </ul>
		</nav>
		
		<form method="post" action="/adresses">
			<label for="numero">Entrez votre numero de voie : </label>
			<input type="int" name="numero" id="numero" required>
			<br/>
			<br/>
			<label for="nomVoie">Entrez le nom de notre voie : </label>
			<input type="text" name="nomVoie" id="nomVoie" required>
			<br/>
			<br/>
			<input type="submit" value="Valider">
		</form>
		
	</body>
</html>